.waveLettersAppear {
  height: 40px;
  max-height: 40px;
  /* overflow: hidden; */
  display: flex;
  white-space: break-spaces;
  position: relative;
  margin-bottom: 7px;
}
.textUnderline {
  opacity: 0;
  width: 0%;
  height: 2px;
  background-color: #edddc1;
  margin-top: 45px;
  position: absolute;
}
.waveLetterAppear {
  margin: 0;
  opacity: 0;
  margin-top: 20px;
}
