.hintContainer {
  position: fixed;
  opacity: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #b79d8d;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hintText {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 200;
  color: #edddc1;
  font-family: "Lexend Deca";
  max-width: 900px;
  width: 80vw;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
}
.hintCloseButton {
  background-color: transparent;
  border: none;
  font-size: 32px;
  font-weight: 200;
  color: #edddc1;
  font-family: "Lexend Deca";
  cursor: pointer;
  width: fit-content;
  margin: auto;
  margin-top: 25px;
}
.credits {
  margin: 0;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300;
  color: #edddc1;
  font-family: "Lexend Deca";
  -webkit-animation: fadeIn 700ms ease-in-out 0.5s both;
  animation: fadeIn 700ms ease-in-out 0.5s both;
}
.creditsLink {
  color: #edddc1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
